{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
<style>
    #id_title{
        width: 50%;
        margin-bottom: 30px;
    }
    #id_content{
        width: 80%;
        height: 200px;
    }
    .submit{
        margin-top: 20px;
    }

    
</style>
    <h1>New Entry Is Coming!</h1>
    <form action="{% url 'encyclopedia:new_page' %}" method='post'>
        {% csrf_token %}
        <h2>Title:</h2>
        {{ form.title }}
        <h2>Content:</h2>
        {{ form.content }}
        <br>
        <input class='submit' type="submit">
    </form>

{% endblock %}